
<!-- <h2 class="text-xl leading-8">Buttons</h2>
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 place-items-center">
    <bubbly-button></bubbly-button>
    <lava-button></lava-button>
    <gradient-border-button></gradient-border-button>
</div> -->

<h2 class="mt-4 text-xl leading-8">Dashboard</h2>


<h2 class="mt-4 text-xl leading-8">Settings</h2>
<theme-group></theme-group>
<font-group></font-group>
<h2 class="mt-4 text-xl leading-8">Backgrounds</h2>
<!-- <dotted-grid-bg></dotted-grid-bg> -->

<h2 class="text-xl leading-8">Buttons</h2>
<bubbly-button></bubbly-button>
<lava-button></lava-button>
<gradient-border-button></gradient-border-button>
<!-- <gradient-flow-button></gradient-flow-button> -->
<!-- <shiny-button></shiny-button> -->

<h2 class="mt-4 text-xl leading-8">Text</h2>
<centered-headline></centered-headline>

<h2 class="mt-4 text-xl leading-8">Effects</h2>
<shimmer-effect></shimmer-effect>

<!-- <stack-component></stack-component> -->